<%= form_with(model: brand_category) do |form| %>
  <% if brand_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brand_category.errors.count, "error") %> prohibited this brand_category from being saved:</h2>

      <ul>
        <% brand_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nama_merk_kategori, style: "display: block" %>
    <%= form.text_field :nama_merk_kategori %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
