<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1 class="float-start">Brand categories
      <%= link_to "New brand category", new_brand_category_path, class: "h5 float-end" %></h1>
    <%= render partial: "layouts/search_form1", locals: { path: brand_categories_path } %>
  </div>
  <div id="brand_categories">
    <div class="row">
      <table>
        <thead>
          <th class="text-center">ID</th>
          <th class="text-center">Nama Merk Kategori</th>
          <th class="text-center">Action</th>
        </thead>
        <tbody>
          <% @brand_categories.each do |brand_category| %>
          <tr>
            <%= render brand_category %>
            <td class="text-center">
              <%= link_to "Show this brand category", brand_category %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "layouts/paginate", locals: { item: @brand_categories } %>
  </div>
</div>