<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1 class="float-start">Raks <%= link_to "New rak", new_rak_path, class: "h5 float-end" %></h1>
    <%= render partial: "layouts/search_form1", locals: { path: raks_path } %>
  </div>

  <div id="raks">
    <div class="row">
      <table>
        <thead>
          <th class="text-center">ID</th>
          <th class="text-center">Nama Rak</th>
          <th class="text-center">Action</th>
        </thead>
        <tbody>
          <% @raks.each do |rak| %>
          <tr>
            <%= render rak %>
            <td class="text-center">
              <%= link_to "Show this rak", rak %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "layouts/paginate", locals: { item: @raks } %>
  </div>
</div>