<div id="<%= dom_id customer %>">
  <td class="text-center"><%= customer.id %></td>
  <td class="text-center"><%= customer.nama_pelanggan %></td>
  <td class="text-center"><%= customer.alamat %></td>
  <td class="text-center"><%= customer.daerah %></td>
</div>
