<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1 class="float-start">Customers <%= link_to "New customer", new_customer_path, class: "h5 float-end" %></h1>
    <%= render partial: "layouts/search_form1", locals: { path: customers_path } %>
  </div>

  <div id="customers">
    <div class="row">
      <table>
        <thead>
          <th class="text-center">ID</th>
          <th class="text-center">Nama Pelanggan</th>
          <th class="text-center">Alamat</th>
          <th class="text-center">Daerah</th>
          <th class="text-center">Action</th>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <%= render customer %>
            <td class="text-center">
              <%= link_to "Show this customer", customer %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "layouts/paginate", locals: { item: @customers } %>
  </div>
</div>