<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1 class="float-start">Brand subcategories
      <%= link_to "New brand subcategory", new_brand_subcategory_path, class: "h5 float-end" %></h1>
    <%= render partial: "layouts/search_form1", locals: { path: brand_subcategories_path } %>
  </div>
  <div id="brand_subcategories">
    <div class="row">
      <table>
        <thead>
          <th class="text-center">ID</th>
          <th class="text-center">Nama Merk SubKategori</th>
          <th class="text-center">Action</th>
        </thead>
        <tbody>
          <% @brand_subcategories.each do |brand_subcategory| %>
          <tr>
            <%= render brand_subcategory %>
            <td class="text-center">
              <%= link_to "Show this brand subcategory", brand_subcategory %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "layouts/paginate", locals: { item: @brand_subcategories } %>
  </div>
</div>