<% if user_signed_in? %>
<h1 class="float-start mt-4" id="site-name">PT. Limputra Sukses Motorindo</h1>
<% else %>
<h1 class="float-start" id="site-name">PT. Limputra Sukses Motorindo</h1>
<% end %>

<ul class="float-end list-unstyled" id="topnav">
    <li><%= link_to "Home", root_path %></li>

    <% if user_signed_in? %>
    <% if current_user.role_id == 1%>
    <div class="dropdown" style="display: inline-block">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to "Merk", brands_path, class: "dropdown-item" %></li>
            <li><%= link_to "Merk Kategori", brand_categories_path, class: "dropdown-item" %></li>
            <li><%= link_to "Merk SubKategori", brand_subcategories_path, class: "dropdown-item" %></li>
            <li><%= link_to "Customer", customers_path, class: "dropdown-item" %></li>
            <li><%= link_to "Rak", raks_path, class: "dropdown-item" %></li>
        </ul>
    </div>
    <% end %>
    <li style="display: inline-block">
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-link link-danger" %></li>
    <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>

</ul>